* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.content {
  display: flex;
  margin: 1rem 0;
}



.container {
  width: 90%;
}



.right-box {
  display: flex;
  align-items: flex-end;
  margin: 0 0 0 1rem;
}




input {
  width: 100%;
}




.left-box {
  width: 90%;
}




.resultado {
  width: 40%;
}




table th, td{
  padding: 0 1rem;
}



.data {
  width: 60%;
}



button {
  border: none;
  background-color: white;
  color: red;
}